In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats
import math 



# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import wrangle_functions
import env
import acquire
import prepare

In [2]:
df = acquire.new_zillow_data()

In [3]:
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,parcelid,basementsqft,...,id,parcelid,logerror,transactiondate,id,last_trans_date,propertylandusedesc,storydesc,typeconstructiondesc,parcelid
0,NaN,NaN,269.00,NaN,NaN,NaN,NaN,0,10754147,NaN,...,0,14297519,0.03,2017-01-01,0,2017-01-01,Planned Unit Development,None,None,10754147
1,NaN,NaN,261.00,NaN,NaN,NaN,NaN,1,10759547,NaN,...,1,17052889,0.06,2017-01-01,1,2017-01-01,Single Family Residential,None,None,10759547
2,NaN,NaN,47.00,NaN,5.00,NaN,NaN,2,10843547,NaN,...,2,14186244,0.01,2017-01-01,2,2017-01-01,Store/Office (Mixed Use),None,None,10843547
3,NaN,NaN,47.00,NaN,3.00,NaN,NaN,3,10859147,NaN,...,3,12177905,-0.10,2017-01-01,3,2017-01-01,Store/Office (Mixed Use),None,None,10859147
4,NaN,NaN,31.00,NaN,4.00,NaN,NaN,4,10879947,NaN,...,4,10887214,0.01,2017-01-01,4,2017-01-01,Commercial/Office/Residential Mixed Used,None,None,10879947

In [4]:
df.shape

(77614, 73)

In [5]:
df, df_outs = prepare.prep_function(df)

In [6]:
df.head()

,parcelid,bathrooms,bedrooms,area,zipcode,lot_area,regionidcity,structuretaxvaluedollarcnt,tax_value,landtaxvaluedollarcnt,taxamount,logerror,propertylandusedesc,large_home
33,11585547,2.00,3.00,"2,077.00","6,037.00","6,490.00","26,964.00","210,192.00","646,760.00","436,568.00","7,924.68",-0.04,Single Family Residential,0
110,12716947,1.00,3.00,"1,244.00","6,037.00","6,021.00","13,716.00","108,040.00","169,471.00","61,431.00","2,532.88",0.04,Single Family Residential,0
111,12757147,2.00,3.00,"1,300.00","6,037.00","4,917.00","53,636.00","77,415.00","233,266.00","155,851.00","3,110.99",-0.00,Single Family Residential,0
112,12757947,2.00,3.00,"1,222.00","6,037.00","5,500.00","53,636.00","117,839.00","290,492.00","172,653.00","3,870.25",-0.32,Single Family Residential,0
244,13871747,2.50,3.00,"1,821.00","6,059.00","2,442.00","24,812.00","265,668.00","537,949.00","272,281.00","6,173.72",0.34,Single Family Residential,0

In [7]:
df.shape

(51219, 14)

In [8]:
df_outs.shape

(67833, 14)